---
layout: default
title: Sessions
---

{% for session in site.sessions %}
<div class="posts">
  <h1>
    <a href="{{ site.github.url }}{{ session.url }}">{{ session.name }}</a>
  </h1>
  {% if session.image %}
  <div class="thumbnail-container">
    <a href="{{ site.github.url }}{{ session.url }}"><img src="{{ site.github.url }}/assets/img/{{ session.image }}"></a>
  </div>
  {% endif %}
  <p>
    {{ session.content | strip_html | truncate: 400 }} <a href="{{ site.github.url }}{{ session.url }}">Leer más</a>
    <span class="post-date"><i class="fa fa-calendar" aria-hidden="true"></i>  {{ session.date | date: "%D" }} - <i class="fa fa-clock-o" aria-hidden="true"></i>{% include read-time.html %}</span>
  </p>
</div>
{% endfor %}

<!-- Pagination links -->
<div class="pagination">
  {% if paginator.next_page %}
    <a class="pagination-button pagination-active next" href="{{ site.github.url }}{{ paginator.next_page_path }}">{{ site.data.settings.pagination.previous_page }}</a>
  {% else %}
    <span class="pagination-button">{{ site.data.settings.pagination.previous_page }}</span>
  {% endif %}

  {% if paginator.previous_page %}
    <a class="pagination-button pagination-active" href="{{ site.baseurl }}{{ paginator.previous_page_path }}">{{ site.data.settings.pagination.next_page }}</a>
  {% else %}
    <span class="pagination-button">{{ site.data.settings.pagination.next_page }}</span>
  {% endif %}
</div>
